{% extends 'layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <!-- Banner Start -->
    <section class="banner clearfix">
        <div class="container">
            <h1 class="text-black white-text text-center">О нас</h1>
        </div>
    </section>
    <!-- Banner End -->

    <!-- About-US Start -->
    <section class="about-us padding-tb-150" >
        <!-- Container Start -->
        <div class="container">
            <div class="row padding-bottom-150">
                <div class="col-sm-12 col-md-6" >
                    <img class="img-responsive" src="images/software-img/2.jpg" alt="">
                </div>
                <div class="col-sm-12 col-md-6 padding-left-65">
                    <h1 class="dark-gray-text mb-46">CORNER YOUR MARKET</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
    <!-- About-US End -->
{% endblock %}